body {
  font-family: "IBM Plex Sans", sans-serif;
  background-color: #fcfaf9;
  background-image: url(./assets/bg-main-mobile.png);
  background-position-y: -36vh;
  background-repeat: no-repeat;
}

header p {
  font-size: 26px;
  line-height: 26px;
  font-weight: 400;
  color: #191826;
}
header {
  padding: 40px 25px 0 25px;
}
header h1 {
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;

  letter-spacing: -0.454545px;

  color: #191826;
}
.black-div {
  background-color: #191826;
  border-radius: 12px;
  margin-top: 50%;
  min-height: 55vh;
}

.img-two img {
  max-width: 100%;
}
.img img {
  margin: auto;
  display: flex;
}
.img-two {
  width: 50%;
  margin: auto;
  margin-top: -75vh;
}
.orange-div {
  padding: 48px;
  background-color: #fa7453;
  border-radius: 12px;
}
.orange-div p,
.text,
.price-span {
  color: white;
}
.price-span {
  font-size: 65px;
  font-weight: 700;
}
.btn-one {
  background-color: #191826;
  color: white;
  border-radius: 12px;
  padding: 15px 77px 15px 77px;
  border: none;
  width: 300px;
  display: flex;
  justify-content: center;
  margin: auto;
}
.btn-two {
  background-color: white;
  color: #191826;
  padding: 15px 77px 15px 77px;
  border: none;
  border-radius: 12px;
  width: 300px;
  margin: auto;
  margin-top: 3%;
  display: flex;
  justify-content: center;
}
.icon {
  margin-right: 10px;
}
.white-div {
  padding: 64px 25px 80px 25px;
}
.icon-div {
  margin-top: 64px;
}
.span-two {
  font-weight: bold;
}
.img-tablet {
  display: none;
}
@media screen and (min-width: 775px) {
  .img-tablet {
    display: block;
    transform: translate(68px, -76px);
  }
  .img {
    margin-left: 30%;
  }
  .img img {
    margin: 0;
  }
  .main {
    display: flex;
    justify-content: space-between;
    padding: 39px;
  }
  .img-two {
    width: 29%;
    margin-left: 94px;
  }
  .orange-div {
    width: 40%;
    margin-left: 37vw;
    margin-top: -27vh;
  }
  .white-div {
    display: flex;
    justify-content: space-between;
  }
  .black-div {
    margin: 20px;
    margin-top: 19%;
  }
  .logo-text {
    width: 50%;
  }
  .orange-div {
    position: relative;
  }
  header h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
  }
  header p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (min-width: 1440px) {
  .img-tablet {
    transform: translate(172px, -87px);
  }
  
  .orange-div p {
    font-size: 20px;
    line-height: 34px;
  }
  header p {
    font-size: 20px;
    line-height: 34px;
  }
  .orange-div {
    margin-left: 47vw;
    margin-top: -50vh;
    width: 25%;
  }
  header h1 {
    font-size: 88px;
    line-height: 88px;
    letter-spacing: -1px;
  }
  .img-two {
    width: 20%;
    margin-left: 20%;
  }
  .black-div {
    margin: 165px;
    margin-top: 10%;
  }
  .main,
  .white-div {
    margin: 165px;
  }
  .main {
    margin-top: 0;
  }
  .white-div {
    margin-top: 0;
  }
  .img-tablet {
    transform: translate(172px, -234px);
  }
}
